:root {
    --azul: #2A7AE4;
    --azul-claro: #EAF2FD;
    --preto: #464646;
    --branco: #FFFFFF;
    --cinza: #F5F5F5;
    --cinza-texto: #A2A2A2;

    --fontSize-grande: 1.8em;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: 'Raleway', sans-serif;
    color: var(--preto);
    font-weight: 400;
    font-size: 16px;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.wrapper {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
}

.container {
    width: 78%;
    margin: 0 auto;
}

/* =============== HEADER =============== */


.cabecalho {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    padding: 1em 0;
    gap: 32px;
}

.header__left {
    display: flex;
    align-items: center;
}

/* Logo */

.logo {
    display: flex;
    align-items: center;
    font-size: var(--fontSize-grande);
    font-weight: 700;
    gap: 0;
}

.logo span {
    color: var(--azul);
}

/* Busca */
.search {
    background: var(--cinza);
    border-radius: 40px;
    width: 27vw;

    position: relative;

    justify-self: flex-start;

    display: flex;
}

.search input {
    background: transparent;
    border: 0;
    font-size: 16px;
    width: 95%;

    padding: 12px 30px 12px 16px;
}

.search i {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

/* Botões */
.btn {
    color: var(--branco);
    background: var(--azul);
    padding: 16px;
    border: 1px solid var(--azul);
    cursor: pointer;
}

.btn:hover {
    opacity: .95;
}

.cabecalho .btn {
    color: var(--azul);
    background: var(--branco);
    padding: 16px 70px;
}

.cabecalho .btn:hover {
    background: var(--azul-claro);
}

.cabecalho .btn:active {
    color: var(--branco);
    background: var(--azul);
}

/* =============== MAIN =============== */

/* Banner */

.banner {
    background-image: url("../images/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 32px 0;

    width: 100%;
    height: 50vh;
    max-height: 22rem;

    color: var(--branco);
    display: flex;
}

.banner .container {
    align-self: end;
}

.banner__texto {
    font-weight: 700;
}

.banner__texto h2 {
    font-size: 52px;
    margin-bottom: 16px;
}

.banner__texto h3 {
    font-size: 22px;
}

.banner .btn {
    margin-top: 16px;
}

/* Catalogo */

.catalogo {
    margin-top: 64px;
}

.catalogo:last-of-type {
    margin-bottom: 64px;
}

.header__catalogo {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 16px;
}

.header__catalogo h3 {
    font-size: 32px;
    font-weight: 700;
}

.header__catalogo a {
    color: var(--azul);
    font-weight: 700;

    display: flex;
    align-items: center;
    gap: 8px;
}

.produtos {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.produtos li {
    display: flex;
    flex-direction: column;
    width: 16%;
    gap: 8px;
}

.produtos li img {
    background-position: center;
    background-size: cover;
}

.produto__nome {
    font-size: 14px;
    color: var(--preto);
    font-weight: 500;
}

.produto__preco {
    font-weight: 700;
}

.produtos li a {
    color: var(--azul);
    font-weight: 700;
}

/* Contato */

.contato {
    justify-self: flex-end;

    padding: 64px 0;
    background: var(--azul-claro);
}

.contato .container {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.contato .logo {
    align-self: start;
}

.contato__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contato__links .contato__link {
    font-weight: 500;
    color: var(--preto);
}

.contato form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.contato form h3 {
    font-size: 16px;
    font-weight: 700;
}

.contato__input {
    width: 100%;
    padding: 7px 12px;
    margin-bottom: 8px;

    display: flex;
    flex-direction: column;
    row-gap: 4px;

    background: var(--branco);
    box-shadow: 0px 6px 15px -7px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.contato__input label {
    font-size: 16px;
    color: var(--cinza-texto);
}

.contato__input input {
    border: none;
    font-size: 16px;
    font-weight: 500;
}

.contato textarea {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 82px;

    padding: 12px;
    margin-bottom: 4px;

    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 6px 15px -7px rgba(0, 0, 0, 0.3);

    resize: none;
}

.contato textarea::placeholder {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: var(--cinza-texto);
}

/* =============== FOOTER =============== */

footer {
    justify-self: flex-end;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-weight: 500;

    padding: 32px 0;
}

footer a {
    color: var(--azul);
}

/* =============== LOGIN =============== */

.login {
    background: #E5E5E5;
    flex-grow: 1;

    display: flex;
    align-items: center;
}


.login form h3 {
    font-size: 16px;
    font-weight: 700;
    align-self: center;
}

.login form {
    width: 30%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.login__input {
    width: 100%;
    padding: 14px 12px;


    background: var(--branco);
    box-shadow: 0px 6px 15px -7px rgba(0, 0, 0, 0.3);
    border-radius: 5px;

    border: none;
    font-size: 16px;
    font-weight: 500;
}

@media screen and (max-width: 540px) {

    .container {
        width: calc(100vw - 32px);
        margin: 0 auto;
    }

    /* Header */

    header .logo {
        font-size: 20px;
    }

    .cabecalho {
        gap: 32px;
    }

    .cabecalho .btn {
        padding: 12px 47px;
        flex-grow: 1;
        grid-column: 2;
        grid-row: 1;
    }

    .search {
        background: transparent;
        width: auto;
        grid-column: 3;
    }

    .search i {
        right: 0;
    }

    .search input {
        display: none;
    }

    /* Banner */
    .banner {
        max-height: 18rem;
    }

    .banner h2 {
        font-size: 22px;
    }

    .banner h3 {
        font-size: 14px;
    }

    /* Catalogo */
    .catalogo {
        margin-top: 16px;
    }

    .produtos {
        width: 100%;
        flex-wrap: wrap;
    }

    .produtos li:nth-of-type(n + 5) {
        display: none;
    }

    .produtos li {
        min-width: 40%;
        flex-grow: 1;
    }

    /* Contato */

    .contato .container {
        grid-template-columns: 100%;
        justify-content: center;
        gap: 16px;
    }

    .contato .logo {
        justify-self: center;
    }

    .contato__links {
        text-align: center;
        margin-bottom: 16px;
        gap: 16px;
    }

}